.spark-engine-check-input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.spark-engine-form-check {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	.spe-radio-filed {
		&[type="radio"] {
			--spe-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
			border-radius: 50%;
		}
		&[type="checkbox"] {
			--spe-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
			border-radius: 0.25em;
		}

		--spe-border-width: 1px;
		--spe-border-color: #dee2e6;
		flex-shrink: 0;
		width: 1rem;
		height: 1rem;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-image: var(--spe-form-check-bg-image);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		border: var(--spe-border-width) solid var(--spe-border-color);
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
		print-color-adjust: exact;
		margin: 0;

		&:checked {
			background-color: #333;
			border-color: #333;
		}
	}
}

.spe-not-found {
	--spe-primary-text-emphasis: #052c65;
	--spe-primary-bg-subtle: #cfe2ff;
	--spe-primary-border-subtle: #9ec5fe;
	--spe-primary-text-emphasis: #052c65;
	--spe-border-radius: 0.375rem;
	--spe-alert-color: var(--spe-primary-text-emphasis);
	--spe-alert-bg: var(--spe-primary-bg-subtle);
	--spe-alert-border-color: var(--spe-primary-border-subtle);
	--spe-alert-link-color: var(--spe-primary-text-emphasis);
	--spe-alert-padding-x: 1rem;
	--spe-alert-padding-y: 1rem;
	--spe-border-width: 1px;
	--spe-alert-border: var(--spe-border-width) solid var(--spe-alert-border-color);
	--spe-alert-border-radius: var(--spe-border-radius);

	position: relative;
	padding: var(--spe-alert-padding-y) var(--spe-alert-padding-x);
	font-size: 1rem;
	color: var(--spe-alert-color);
	background-color: var(--spe-alert-bg);
	border: var(--spe-alert-border);
	border-radius: var(--spe-alert-border-radius);
	font-weight: 600;
}
